.main-popup {
    width: 1550px;
    height: 740px;
    background-color:rgba(240, 240, 240, 0.984);
    border: solid, 1px, black;
    border-radius: 15px;


}

.result {
    width:100%;
    text-align:center;
    font-size: 2rem;
}

span {
    color:darkred;
}

.boxes {
    height: 80%;
    width: 100%;
    display:flex;
    gap: 20px;
    justify-content:center;
    align-items:flex-end;
    flex-shrink:0;
}

.col {
    width: 31.5%;
    height: 100%;
    background-color:white;

    border-radius: 40px;
}