:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

.inter-header {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.inter-header-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: start;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 96px;
  margin: 0px;
  padding: 0px;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin: 0px;
  padding: 0px;
}

#center-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
#results {
  background-color: #2d2c36;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  border-radius: 8px;
  border: 3px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

#results:hover {
  border-color: #646cff;
}